<% var title='Login' %>
  <%- include('head'); -%>

    <h1>Login</h1>
    <%- message %>
      Pas de compte ? <a href="/signup">S'inscrire</a>.
      <form method="post" action="/login">
        <p>
          <label>Username:</label>
          <input type="text" name="username">
        </p>
        <p>
          <label>Password:</label>
          <input type="password" name="password">
        </p>
        <p>
          <a href="/forgot">Mot de passe oublié ?</a>.
        </p>
        <p>
          <input type="submit" value="Login">
        </p>
      </form>

      <%- include('foot'); -%>