    <h1>Coffre fort d'image</h1>
    <hr>
    <div>
        <form action="/upload" method="POST">
            <div>
                <label for="name">Nom de l'image</label>
                <input type="text" id="name" placeholder="Name"
                       value="" name="name">
            </div>
            <div>
                <label for="desc">Description de l'image</label>
                <textarea id="desc" name="pesc" value="" rows="2"
                          placeholder="Description">
                </textarea>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="file" id="image"
                       name="image" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" required>
            </div>
            <div>
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </div>
 
    <hr>
    </div>